# ===== PYTHON =====
__pycache__/
*.py[cod]
*.so
*.log
.env
venv/
.env.local
.env.*
instance/
*.sqlite3

# ===== NODE / FRONTEND =====
node_modules/
dist/
build/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
*.env
coverage/
*.tsbuildinfo

# ===== IDE / SYSTEM FILES =====
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
